$navbar-height: 60px;

@mixin home-wrapper {
  padding: 0 30px;

  @include lg {
    padding: 0 60px;
  }
}

@mixin section-wrapper {
  padding: 60px;
  margin: 0 auto;

  @include lg {
    padding: 60px 120px;
    max-width: 768px;
  }

  @include xl {
    padding: 60px 120px;
    max-width: initial;
  }
}
