$text-gray: #797979;

$header-color: $text-gray;
$text-color: lighten($text-gray, 10%);

@mixin section-header {
  font-size: x-large;
  font-weight: 300;
  color: $header-color;
  display: block;
}

@mixin small-header {
  font-size: small;
  font-weight: 400;
  color: $header-color;
}

@mixin section-text {
  font-size: small;
  font-weight: 300;
  color: $text-color;
}

@mixin paragraph {
  @include section-text;
  margin-top: 1em;
  margin-bottom: 1em;
}
