.svgOuter,
.svgPolyline,
.svgCircle {
  opacity: 0.8;
}

@for $i from 1 through 10 {
  @keyframes fade-in-#{$i * 10} {
    0%, 90% {
      opacity: 0;
    }
    100% {
      opacity: $i / 10;
    }
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(50%);
  }
  90% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.svg {
  animation: slide-out 2.4s ease-out forwards;
}
.description {
  animation: fade-in-90 2.6s ease-out forwards;
}
.svgCircle {
  animation: fade-in-80 2.6s ease-out forwards;
}
.svgText {
  animation: fade-in-90 2.6s ease-out forwards;
}
.svgPolyline {
  fill: none;
  stroke: white;
  stroke-width: 1.32px;
  animation: dash 1.5s ease-in-out forwards;
}