@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(58,170,53,.8),
    rgba(0,159,185,.8) 26.45%,
    rgba(0,155,220,.8) 52.99%,
    rgba(30,107,177,.8) 75.6%,
    rgba(45,46,131,.8)
  );
}

.bg-brand {
  background: #1E6BB1;
}

.text-brand {
  color: #1E6BB1;
}